extends layout
block stylesheets
        style.
                body {margin-top: 5%;}
                p {font-weight: bold; margin:auto; width: 70%; text-align:center;}
                h1 {margin:auto; width: 200px; text-align:center; font-size: 400%; }
block content
        h1 Error !
        br
        p= error
